@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body 
    {
        text-align: center;
        font-family: 'Gloria Hallelujah', cursive;
        background-color: black;
    }
    
h1{
    color:white;
}
div 
    {
        
        display:inline-block;
        text-align:center;
        background-color: red;
        
    
}
#winner 
    {
        color: white;
    }
    